@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

.main {
  background-color: #e0e0e0;
}

.span {
  display: none;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #5614b0, #dbd65c);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.header .container {
  width: 90%;
  margin: 0 auto;
}
.header .container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: #fdfdfd;
  margin-top: 15px;
}
.header .container .nav .nav__link {
  text-decoration: none;
  color: inherit;
}
.header .container .nav .nav__link .nav__logo {
  font-weight: 800;
  letter-spacing: 1.5px;
  font-size: 30px;
}
.header .container .nav .nav__link .nav__logo:hover {
  text-decoration: underline;
}
.header .container .nav .nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.header .container .nav .nav__links .link {
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
  font-weight: 500;
  transition: all 0.5s;
}
.header .container .nav .nav__links .link:hover {
  font-size: 20px;
  text-decoration: underline;
  color: inherit;
}
.header .container .nav .nav__btn {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  border-top: 6px solid rgba(85, 20, 176, 0.3529411765);
  border-right: 6px solid rgba(85, 20, 176, 0.3529411765);
  border-bottom: 6px solid rgba(219, 215, 92, 0.5607843137);
  border-left: 6px solid rgba(219, 215, 92, 0.5607843137);
  border-radius: 40px;
  padding: 5px 10px;
  text-align: center;
  transition: all 0.5s;
}
.header .container .nav .nav__btn:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 850px) {
  .header .container .nav {
    display: none;
  }
}
.header .wave {
  position: absolute;
  width: 100%;
  bottom: -1px;
}

/* bootstrap */
.navbar {
  display: none;
}
.navbar .navbar-brand {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 1.5px;
  font-size: 25px;
  color: #fdfdfd;
}
.navbar .navbar-brand:hover {
  text-decoration: underline;
  color: #fdfdfd;
}

/* FIN bootstrap */
.header__content {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.header__content .title-container {
  z-index: 10;
}
.header__content .title {
  font-size: 70px;
  color: #fdfdfd;
  font-weight: 800;
  text-align: center;
}
@media screen and (max-width: 550px) {
  .header__content .title {
    font-size: 50px;
  }
}
.header__content .text-container {
  z-index: 10;
  color: #fdfdfd;
  padding-bottom: 50px;
}
.header__content .text-container .copy {
  width: 60%;
  margin: 0 auto;
  color: #fdfdfd;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  z-index: 10;
}
.header__content .header__svg, .header__content .header__svg--modifier {
  position: absolute;
  left: -70px;
  top: 80px;
  height: 550px;
  z-index: 1;
}
.header__content .header__btn {
  z-index: 100;
  text-decoration: none;
  color: #292929;
  font-size: 28px;
  background-color: rgba(255, 255, 255, 0.427);
  padding: 20px 60px;
  border-radius: 40px;
  text-align: center;
  font-weight: 500;
  border-bottom: 10px solid rgba(85, 20, 176, 0.3529411765);
  border-right: 10px solid rgba(85, 20, 176, 0.3529411765);
  border-top: 10px solid rgba(219, 215, 92, 0.5607843137);
  border-left: 10px solid rgba(219, 215, 92, 0.5607843137);
}

.copy {
  color: #fdfdfd;
  text-align: center;
  margin-top: 25px;
}

/* Section Cards */
.cards {
  background-color: #fdfdfd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px 15px;
  flex-flow: row wrap;
  width: 100%;
  margin: 0 auto;
}
.cards .card {
  height: 515px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px;
  overflow: hidden;
  margin: 15px 10px;
  gap: 15px;
  box-shadow: 10px 10px 5px 0px rgba(175, 175, 175, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(175, 175, 175, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(175, 175, 175, 0.75);
}
.cards .card .price {
  font-size: 30px;
  text-align: center;
  color: #fdfdfd;
  margin-bottom: 15px;
}
.cards .card1 {
  background-color: #DBD65C;
  color: #585503;
}
.cards .card2 {
  background-color: #CC9A78;
  color: #755606;
}
.cards .card3 {
  background-color: #B53DA4;
  color: #44023B;
}

.card__img--modifier {
  width: 100%;
  height: 100%;
}

.card__img {
  object-fit: cover;
}

.card__title {
  text-align: center;
  padding-bottom: 20px;
}

.card__title__name {
  text-decoration: underline;
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
  padding: 10px 0;
  color: inherit;
}

/* Section Info */
.info {
  width: 100%;
  margin: 0 auto;
  background-color: #AB12B8;
  position: relative;
  overflow: hidden;
}
.info .ola__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 150px;
  gap: 20px;
  padding: 15px 0;
  z-index: 10;
  flex-wrap: wrap;
}
.info .ola__container .check {
  color: #fdfdfd;
  font-size: 22px;
  z-index: 100;
}
.info .ola__container .check .fa-solid {
  color: #292929;
  padding-right: 5px;
}

.info {
  width: 100%;
  margin: 0 auto;
  background-color: #AB12B8;
  position: relative;
  overflow: hidden;
}

.info__title {
  text-align: center;
  color: #fdfdfd;
  font-size: 35px;
  margin: 0 auto;
  width: 80%;
  padding-top: 30px;
}

.ola__container {
  width: 90%;
  margin: 0 auto;
}

/* Footer */
.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #3c3c3c;
  padding: 20px;
}
.footer .footer__container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__container .container__text {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}
.footer .footer__container .container__text .footer__copy--modifier {
  color: #959595;
  font-size: 20px;
  font-weight: 700;
}
.footer .container__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer .container__list .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
}
.footer .container__list .list .list__copy {
  color: #fdfdfd;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer__title {
  color: #fdfdfd;
  font-size: 27px;
  margin-bottom: 5px;
}

.footer__copy {
  color: #959595;
}

.made {
  background-color: #292929;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  color: #fdfdfd;
  text-align: center;
}
.made .heart {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: tomato;
  transform: rotate(45deg);
  margin: 0 4px;
  animation: beats 1.4s infinite;
}
.made .heart::before {
  content: "";
  position: absolute;
  background-color: tomato;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.made .heart::after {
  content: "";
  position: absolute;
  background-color: tomato;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  border-radius: 50%;
}

@keyframes beats {
  0% {
    transform: rotate(45deg) scale(1);
  }
  25% {
    transform: rotate(45deg) scale(1.2);
  }
  50% {
    transform: rotate(45deg) scale(1.1);
  }
  75% {
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}
/* COACHING */
.sections {
  width: 100%;
  margin: 0 auto;
  background-color: #fdfdfd;
}
.sections .sections__title {
  font-size: 50px;
  text-align: center;
  padding: 50px 0;
}
.sections .coaching__article {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  padding: 40px 0;
}
.sections .coaching__article .img-article {
  height: 250px;
  border: 1px solid #292929;
  border-radius: 75px;
}
.sections .coaching__article .article__copy {
  font-size: 22px;
  padding: 0 50px;
  text-align: left;
}
.sections .coaching__article--modifier {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  flex-direction: row-reverse;
}
.sections .coaching__article--modifier .img-article {
  height: 250px;
  border: 1px solid #292929;
  border-radius: 75px;
}
.sections .coaching__article--modifier .article__copy {
  font-size: 22px;
  padding: 0 50px;
  text-align: left;
}

/* MEMBERSHIP */
.header__svg--modifier {
  position: absolute;
  left: -40px;
  height: 500px;
  z-index: 1;
}

.card__copy {
  font-size: 20px;
  font-weight: 500;
  color: #292929;
  text-align: left;
  padding: 0 1rem;
}
.card__copy .fa-solid {
  color: #06be03;
}
.card__copy .fa-xmark {
  color: red;
}

.membership__btn {
  background-color: rgba(240, 240, 240, 0.3960784314);
  padding: 10px 65px;
  margin: 10px 0;
  text-decoration: none;
  color: #292929;
  font-size: 20px;
  font-weight: 800;
  border-radius: 50px;
}

/* STORE */
.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.card-body .card-title {
  text-align: left;
  font-weight: bold;
}
.card-body .price__btn {
  background-color: rgba(255, 255, 255, 0.9411764706);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 0 10px;
  padding-bottom: 20px;
  height: 50px;
  align-items: flex-end;
}
.card-body .price__btn .cash {
  font-weight: 700;
  font-size: 22px;
  padding-top: 12px;
}
.card-body .price__btn .shopping {
  font-weight: 700;
  font-size: 22px;
  padding-top: 12px;
  color: #292929;
}
.card-body .price__btn .shopping .fa-cart-shopping {
  color: inherit;
}

/* ABOUT ME */
.container-modifier {
  width: 100%;
  margin: 0 auto;
}

.carousel {
  margin-bottom: 40px;
  width: 90%;
  margin: 0 auto;
}
.carousel .d-block {
  height: 650px;
  object-fit: cover;
}

.article__copy-about {
  width: 90%;
  margin: 0 auto;
}

.social-networks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social-networks .social__link {
  color: #292929;
  font-size: 50px;
}
.social-networks .social__link .btn--facebook:hover {
  color: #1877F2;
}
.social-networks .social__link .btn--instagram:hover {
  color: #E4405F;
}
.social-networks .social__link .btn--twitter:hover {
  color: #1DA1F2;
}

/* CONTACT */
.contact__article {
  display: flex;
  flex-direction: column;
}

form {
  width: 60%;
  margin: 0 auto;
  padding: 40px 0;
}

.label {
  color: #3e3d3d;
  font-family: "Raleway", sans-serif;
  margin-bottom: 8px;
}

.input {
  background-color: rgba(205, 205, 205, 0.6431372549);
  height: 45px;
  border-radius: 45px;
  border: 1px solid #282828;
  margin-bottom: 20px;
  padding-left: 10px;
}

.textarea {
  margin-bottom: 40px;
  max-height: 250px;
  max-width: 702px;
  height: 170px;
  padding: 10px 20px;
}

.contact__btn {
  background-color: #DBD65C;
  border: none;
  padding: 20px 0;
  border-radius: 45px;
  font-size: 25px;
  font-weight: 700;
}

.polity {
  font-weight: bold;
  font-size: 22px;
  width: 95%;
  margin: 15px auto;
}

.copy-modifier {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1000px) {
  .about__article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    gap: 20px;
    width: 85%;
    margin: 0 auto;
  }
  .coaching__article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 40px 0;
  }
  .coaching__article--modifier {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  .nav {
    display: none;
  }
  .navbar {
    display: block;
    font-family: "Raleway", sans-serif;
  }
  .navbar .to-index {
    text-decoration: none;
    color: inherit;
  }
  .nav__btn {
    font-weight: 500;
    border-top: 6px solid rgba(85, 20, 176, 0.3529411765);
    border-right: 6px solid rgba(85, 20, 176, 0.3529411765);
    border-bottom: 6px solid rgba(219, 215, 92, 0.5607843137);
    border-left: 6px solid rgba(219, 215, 92, 0.5607843137);
    border-radius: 40px;
    padding: 2px 6px;
    text-align: center;
  }
  .header__btn {
    z-index: 100;
    text-decoration: none;
    color: #292929;
    font-size: 28px;
    background-color: rgba(255, 255, 255, 0.427);
    padding: 20px 60px;
    border-radius: 40px;
    text-align: center;
    font-weight: 500;
    border-bottom: 10px solid rgba(85, 20, 176, 0.3529411765);
    border-right: 10px solid rgba(85, 20, 176, 0.3529411765);
    border-top: 10px solid rgba(219, 215, 92, 0.5607843137);
    border-left: 10px solid rgba(219, 215, 92, 0.5607843137);
  }
  .title {
    font-size: 35px;
  }
  .info__title {
    font-size: 30px;
    margin: 0 auto;
    width: 90%;
  }
  .header__svg, .header__svg--modifier {
    display: none;
  }
  .header__svg--modifier {
    display: none;
  }
  .img-article-about {
    height: 450px;
  }
  .footer__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .social-networks {
    color: #000;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .sections__title {
    font-size: 38px;
  }
}

/*# sourceMappingURL=style.css.map */
